<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<title>
			e-Alfred - Dashboard
		</title>
	</head>
	{% extends "layout.html" %}
	{% block body %}
		<div class="header">
			<a href="/"><img class="header-logo" src="{{ url_for('static', filename='images/eAlfred_Text_Black.png') }}"></a>
			<div class="header-right">
				<a class="active" href="/">Início</a>
			</div>
		</div>
		<div class="sidenav">
			<p><b><a href="/">Início</a></b></p>
			<p><a href="/new-device">Cadastrar dispositivo</a></p>
			<p><a href="/sensores">Sensores</a></p>
			<p><a href="/atuadores">Atuadores</a></p>
		</div>
		<div class="main">
			<h2>
				Seja bem-vindo!
			</h2>
			<h3>
				<p>Eu sou e-Alfred, seu mordomo eletrônico!</p>
				<p></p>
				<p>Por favor, cadastre os dispositivos conectados a meu controlador e eu fornecerei funcionalidades a eles.</p>
			</h3>
		</div>
	{% endblock %}
</html>